GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEO4J_URI=
NEO4J_USER=
NEO4J_PASSWORD=
PLAID_CLIENT_ID=
PLAID_SECRET=
PLAID_ENV=
POSTGRES_HOST=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
OLLAMA_HOST=
OLLAMA_MODEL=
API_KEY_TELEGRAM_BOT=
TELEGRAM_BOT_PRO=
TELEGRAM_BOT_DEV=
API_KEY_KA=
API_KEY_SERAPHE=
TELEGRAM_BOT_TOKEN=
TELEGRAM_ID_KA=
TELEGRAM_ID_SERAPHE=
ZONE_ID=
ACCOUNT_ID=
API_TOKEN=
TELEGRAM_ADMIN_CHAT_ID=
JWT_SECRET=
JWT_EXPIRY_HOURS=
GOOGLE_REDIRECT_URI=
OLLAMA_VISION_MODEL=
SWISSEPH_PATH=
HUGGINGFACE_TOKEN=
HUGGINGFACE_TOKEN=
SHELL_API_KEY=
ADGE_TELEGRAM_ID=
